
* {
  margin: 0;
  padding: 0;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas: 
  "title title"
  "header header"
  "content content"
  "footer footer";
  grid-gap: 4px;
  padding: 5px 10px 5px 10px;
}

.subgrid {
  display: grid;
  grid-template-columns: 1fr 1fr 4fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: 
  ". sidebar content .";
  grid-gap: 10px;
}

.title {
  grid-area: title;
}
.header {
  grid-area: header;
}
.sidebar {
  grid-area: sidebar;
}
.content {
  grid-area: content;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.footer {
  grid-area: footer;
}

.grid div:nth-child(even) {
  background-color: grey;
}
.grid div:nth-child(odd) {
  background-color:darkgray;
}

@media screen and (min-width: 1000px) {
  .grid {
    display: grid;
    grid-template-columns:  1fr 500px 500px 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    ". title title ."
    ". header header ."
    ". sidebar content ."
    ". footer footer .";
    grid-gap: 4px;
    padding: 5px 10px 5px 10px;
  }
  
}
