/*
    cams.css

    Jan 24 2019   Initial
    Mar 18 2019   Some work on classes
    Mar 19 2019   css grid still have many hidden features for me ;-(
    Mar 20 2019   css grid...
    Mar 23 2019   Some details on grid content css

*/

* {
  margin: 0;
  padding: 0;
}

.grid2x14 {
  display: grid;
  grid-template-columns: 1fr 4fr ;
  grid-template-areas: 
  "header header"
  "contentcols contentcols"
  "footer footer";
  grid-gap: 4px;
  color: white;
  background-color: #3f51b5;
  padding: .2em 4em .2em 4em;
  border-radius: 6px;
}

.grid3x141 {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr ;
  grid-template-areas: 
  "header header header"
  "contentcols contentcols contentcols"
  "footer footer footer";
  grid-gap: 4px;
  color: white;
  background-color: #3f51b5;
  padding: .2em 4em .2em 4em;
  border-radius: 6px;
}

.contentcols {
  display: grid;
  grid-area: contentcols;
  text-align: left;
  vertical-align: middle;
  word-break: break-word;
}

.topline {
  border-top: solid 1px white;
}
.bottomline {
  border-bottom: solid 1px white;
}
.header {
  grid-area: header;
  text-align: center;
  padding-bottom: 2em;
}

.footer {
  grid-area: footer;
  text-align: center;
  padding-top: 2em;
}


