/*
    cams.css

    Jan 24 2019   Initial
    Mar 18 2019   Some work on classes

*/

* {
  margin: 0;
  padding: 0;
}

.grid3x5 {
  display: grid;
  grid-template-columns: 10% 1fr 10%;
  grid-template-areas: 
  "header header header"
  ". content3cols ."
  ". content3cols ."
  ". content3cols ."
  "footer footer footer";
  grid-gap: 4px;
  padding: 5px 10px 5px 10px;
}

.grid2x5x11 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
  "header header"
  "content2cols content2cols"
  "footer footer";
  grid-gap: 2px;
  padding: 5px 10px 5px 10px;
}

.grid2x5x14 {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-areas: 
  "header header"
  "content2cols content2cols"
  "footer footer";
  grid-gap: 2px;
  padding: 5px 10px 5px 10px;
}

.header {
  grid-area: header;
}

.content3cols {
  display: grid;
  grid-area: content3cols;
  grid-template-columns: 1fr 1fr 1fr;
}

.content2cols {
  display: grid;
  grid-area: content2cols;
  text-align: left;
  vertical-align: middle;
}

.content1col {
  display: grid;
  grid-area: content1col;
  grid-template-columns: 1fr;
}

.footer {
  grid-area: footer;
}

.grid3x5 div {
  background-color: #3f51b5!important;
  border: solid 1px black;
  border-radius: 4px;
  color: white;
  grid-gap: 10px;
  padding: .2em .5em .2em .5em;
}

.grid2x5x14 div {
  background-color: #3f51b5!important;
  border: solid 1px black;
  border-radius: 4px;
  color: white;
  grid-gap: 10px;
  padding: .2em .5em .2em .5em;
}
